body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav a {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
}

.contactos {
  overflow-y: scroll;
  scroll-behavior: smooth;

}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}