/* mi hoja de estilos CSS */

@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;

  justify-content: center;

  align-items: center;

  flex-direction: column !important;

  min-height: 100vh !important;

  transition: 0.5s;
}

body.dark {
  background: #1e1e1e;
}

/* Clase hidden */

.hidden {
  overflow: hidden;
}

/* Contemedor loader */

.loader-box {
  min-height: 100vh !important;

  min-width: 100% !important;

  background: rgba(0, 0, 0, 0.05);

  display: flex;

  justify-content: center !important;

  align-items: center !important;

  flex-direction: column !important;
}

/* Texto loader */

.loader-box p {
  color: #323233;
}

/* Loader */

.loader {
  display: inline-block;

  position: relative;

  width: 80px;

  height: 80px;
}

.loader div {
  position: absolute;

  border: 4px solid #0015ff;

  opacity: 1;

  border-radius: 50%;

  animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader div:nth-child(2) {
  animation-delay: -0.5s;
}

/* Animación loader */

@keyframes loader {
  0% {
    top: 36px;

    left: 36px;

    width: 0;

    height: 0;

    opacity: 1;
  }

  100% {
    top: 0px;

    left: 0px;

    width: 72px;

    height: 72px;

    opacity: 0;
  }
}

/* btnSubir */

.button-arriba {
  width: 50px;

  height: 50px;

  border-radius: 50%;

  transition: all 0.5s ease;

  position: fixed;

  right: 20px;

  bottom: 20px;

  z-index: 99;

  display: flex;

  justify-content: center;

  align-items: center;
}

.button-arriba .item {
  width: 0%;

  height: 0%;

  border-radius: 50%;

  display: flex;

  justify-content: center;

  align-items: center;

  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  background-color: #0065c3;

  color: #fff !important;

  opacity: 0;

  transform: scale(0);

  cursor: pointer;

  box-shadow: var(--box-shadow);

  transition: all 0.5s ease;
}

body.dark .button-arriba .item {
  background: #d83133;
}

.mostrar {
  animation: popup 0.5s ease-in-out !important;

  transform: scale(1) !important;

  opacity: 1 !important;

  width: 100% !important;

  height: 100% !important;

  transition: all 0.5s ease;
}

@keyframes popup {
  0% {
    width: 0% !important;

    height: 0% !important;

    opacity: 0 !important;
  }

  50% {
    width: 50% !important;

    height: 50% !important;

    opacity: 0.5 !important;
  }

  100% {
    width: 100% !important;

    height: 100% !important;

    opacity: 1 !important;
  }
}

/* Encabezado */

.header {
  position: relative;

  width: 100%;

  margin-bottom: 30px;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px 0;
}

/* Título */

.header h3 {
  text-align: center;

  font-size: 1.5em;

  font-weight: 700;

  text-transform: upercase;
}

body.dark .header h3 {
  color: #fff;
}

.header h3 span {
  text-transform: none;

  font-size: 0.9em;
}

body.dark .header {
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.05);
}

/* btn cambiar tema */

.header .btnTema {
  position: absolute;

  top: 50%;

  transform: translateY(-50%);

  right: 20px;

  width: 40px;

  height: 40px;

  background: #333;

  border-radius: 50%;

  display: flex;

  justify-content: center;

  align-items: center;

  cursor: pointer;
}

.header .btnTema::before {
  content: "\f186";

  font-family: "fontAwesome";

  color: #fff;

  transition: 0.5s;
}

.header .btnTema.dark {
  background: #fff;

  transition: 0.5s;
}

.header .btnTema.dark::before {
  content: "\f185";

  color: #333;
}

/* Contenedor */

.container {
  display: flex;

  justify-content: center;

  align-items: center;

  width: 100%;

  flex-wrap: wrap;

  flex-direction: row;
}

/* Contenedor tarjeta */

.card {
  position: relative;

  width: 600px;

  height: 350px;

  border-radius: 20px;

  display: flex;

  align-items: center;

  transition: 0.5s;
}

/* Círculo que se expandirá */

.card .circle {
  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  border-radius: 20px;

  overflow: hidden !important;
}

.card .circle::before {
  content: "";

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: #d83133;

  clip-path: circle(120px at center) !important;

  transition: 0.5s;
}

body.dark .card .circle::before {
  background: #202771;
}

.card:hover .circle::before {
  background: #0065c3;

  clip-path: circle(400px at center) !important;
}

body.dark .card:hover .circle::before {
  background: #202771;
}

/* Img tarjeta */

.card img {
  position: absolute;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  height: 300px;

  pointer-events: none !important; /* Sin eventos del puntero */

  transition: 0.5s;
}

.card:hover img {
  left: 72%;

  height: 500px;
}

/* Contenido tarjeta */

.card .content {
  position: relative; /* or z-index */

  width: 50%;

  left: 20%;

  padding: 20px 20px 20px 40px;

  transition: 0.5s;

  opacity: 0;

  visibility: hidden;
}

.card:hover .content {
  left: 0;

  opacity: 1;

  visibility: visible;
}

/* Título tarjeta */

.card .content h2 {
  color: #fff;

  text-transform: upercase;

  font-size: 2em;

  line-height: 1em;

  margin-bottom: 5px;
}

/* Descripción tarjeta */

.card .content p {
  color: #fff;
}

/* Enlace tarjeta */

.card .content a {
  position: relative;

  padding: 10px 20px;

  border-radius: 10px;

  background: #fff;

  color: #111;

  margin-top: 10px;

  display: inline-block;

  text-decoration: none;

  font-weight: 700;
}

/* Now, make it responsive */

@media (max-width: 991px) {
  .card {
    width: auto;

    max-width: 350px;

    align-items: flex-start !important; /* Hijos verticalmente */

    margin: 10px;
  }

  .card:hover {
    height: 600px;
  }

  .card .content {
    width: 100%;

    left: 0;

    padding: 30px;
  }

  .card:hover img {
    top: 70%;

    left: 50%;

    height: 300px;
  }
}

@media (max-width: 420px) {
  .card .content {
    padding: 20px;
  }
}
